<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAU2d73l0NJJDUqyTNb2QqMsLYXSlv3BQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>542749627477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaymerutkoski.frontend</string>
	<key>PROJECT_ID</key>
	<string>teamdinner-f6f35</string>
	<key>STORAGE_BUCKET</key>
	<string>teamdinner-f6f35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542749627477:ios:981e7753bf862ca236f0dc</string>
</dict>
</plist>